.property-info {
    border: 1px solid #000; /* Рамка з чорним кольором та товщиною 1px */
    padding: 10px; /* Додайте відступ всередині рамки */
    margin: 10px; /* Додайте відступ навколо рамки */
}