<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_hospital_root"
              name="Hospital"
              sequence="10"
    />
    <menuitem id="menu_hospital_operations"
              name="Operations"
              parent="menu_hospital_root"
              sequence="10"
    />
    <menuitem id="menu_patients"
              name="Patients"
              parent="menu_hospital_operations"
              action="om_hospital.action_hospital_patient"
              sequence="10"
    />
    <menuitem id="menu_hospital_master_data"
              name="Master Data"
              parent="menu_hospital_root"
              sequence="10"
    />
    <menuitem id="menu_doctors"
              name="Doctors"
              parent="menu_hospital_master_data"
              action="om_hospital.action_hospital_doctor"
              sequence="10"
    />
</odoo>
